<div class="card ">
    <div  class="card-body">
        <h5 class="card-title">Add new Attribute</h5>
        newAttribute
        <form>
            <div class="mb-6">
                <label for="description" class="form-label">Description</label>
                <input type="text" id="description" name="description" 
                required  #description="ngModel"
                [(ngModel)]="newAttribute.description" 
                class="form-control" >
                <div [hidden]="description.valid || description.pristine"
                class="alert alert-danger"> The Description is required</div>                 
            </div>
            
            <div class="mb-6 ">
                <label for="attributevalue"  class="form-label">Value</label>
                <input type="text" id="attributevalue" name="attributevalue" 
                required #attributevalue="ngModel"
                [(ngModel)]="newAttribute.value" 
                class="form-control" >
                <div [hidden]="attributevalue.valid || attributevalue.pristine"
                class="alert alert-danger"> The Value is required</div>                    
            </div>
          </form>   
        <div class="row pt-2">
          
            <div class="col-6 text-left">

                <button  class="btn btn-primary" routerLink="/attributes">Back</button>
            </div>  
            <div class="col-6  text-right">
                    <button type="submit" class="btn btn-primary" (click)="createAttribute()">Create</button>
            </div>        
        </div>        

    </div>
    
</div>

  
